body {
    background-color: blanchedalmond;
    position:relative;
}
.webTitle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
.titleTextContainer {
    background: white;
    margin-bottom: 2px;
    font-size: 30px;
    padding: 10px;
}
#panel {
    margin-top: 20px;
    background: brown;
    padding: 10px 15px;
}
.panelInput {
    width: 250px;
    height: 250px;
    background: rgb(245, 211, 101);
    box-shadow: 5px 5px 5px black;
}
.wall {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.memo{
    margin: 25px 20px;
    width: 250px;
    height: 250px;
    position: relative;
}
.memoInput {
    width: 250px;
    height: 250px;
    background: rgb(245, 211, 101);
    box-shadow: 5px 5px 5px black;
}
.memoInput img {
    max-width: 200px;
    max-height: 200px;
}
.removeBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
}
.editBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 40px;
    position: absolute;
    bottom: -20px;
    right: -20px;
}