body {
    background: #ffcc09;
}
h1 {
    margin-top: 1rem;
}
.social-top-container {
    display: table;
    margin: 0;
    text-align: right;
    height: 132px;
}
.social-top-icons {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    line-height: 0px;
    padding-bottom: 10px;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 30px;
    box-sizing: border-box;
    direction: ltr;
}
.navigation {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}
.navigation .navButtons {
    padding: 25px 15px;
    text-align: center;
    font-size: 12px;
}
.navigation .navButtons:hover {
    animation: boxColorChange;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.homePage {
    color: white;
    background-color: #353535;
    box-shadow: inset 0 0 15px black;
    padding: 25px 20px;
    font-size: 12px;
    position: relative;
}
#navMenu .dropDown{
    display: none;
}
#navMenu:hover .dropDown{
    display: block;
    position: absolute;
    top: 68px;
    left: 0px;
    width: 119.3px;
    z-index: 100;
    color: #353535;
    padding: 0;
    margin: 0;
    
}
.dropDown li {
    margin: 0;

}
@keyframes boxColorChange {
    from {
    }
    to {
        color: white;
        background-color: #353535;
        box-shadow: inset 0 0 15px black;
    }
}
.slide {
    display: none;
}
.slide.active {
    display: block;
}
.slide img {
    width: 100%;
    height: auto;
}
.slider-control {
    display: flex;
    justify-content: center;
}
.slider-control div{
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
    height: 20px;
}
.slider-control i:hover {
    color: #353535;
    font-size: 15px;
}
.latest-Text {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.rowBox {
    margin-bottom: 10px;
}
.whiteBox {
    background-color: white;
    padding: 10px;
}
/* add class "no-gutters" and then apply the following */
/* .wB-margin1 {
    margin-right: 7.5px;
}
.wB-margin2 {
    margin-left: 2.5px;
    margin-right: 5px;
}
.wB-margin3 {
    margin-left: 5px;
    margin-right: 2.5px;
}
.wB-margin4 {
    margin-left: 7.5px; 
} */
.boxImg {
    position: relative; 
}
.boxImg img {
    width: 100%;
    height: auto;
}
.playBtn {
    display: none;
    color: rgb(255, 255, 255, 0.8);
}
.boxImg:hover .playBtn {
    display: block;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 100;
}
.boxImg:hover .playBtn i {
    transform: translate(-50%, -50%);
}
.textUnderBox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #353535;
    margin: 5px
}
.readMore-viewSet {
    background-color: #ffcc09;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #353535;
    padding: 5px;
    margin-left: 5px;
    width: 50%;
    text-align: center;
}
@keyframes btnColorChange {
    from {
    }
    to {
        color: #ffcc09;
        background-color: #353535;
    }
}
.readMore-viewSet:hover {
    animation: btnColorChange;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.boxIcon {
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
}
.newsBanner {
    position: relative;
}
.newsBanner img {
    width: 100%;
    height: auto;
}
.newsDate {
    position: absolute;
    bottom: -5px;
    left: 30px;
    padding: 10px;
    color: antiquewhite;
    background-color: #353535;
    font-weight: bold;
    border-bottom: solid #ffcc09 5px;
}
.date {
    color: rgb(151, 151, 151);
    font-weight: 200;
}
.newsTxt{
    background-color: white;
    padding: 30px;
}
.newsTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.newsSource {
    padding: 10px 0;
    font-size: 10px;
    color: #353535;
    border-bottom: solid 5px #eeeeee;
    border-top: solid 5px #eeeeee;
}
.newsContent {
    margin-top: 20px;
    font-weight: 300;
}
.underline {
    border-bottom: solid 1px #ffcc09;
}
.underline:hover {
    border-bottom: solid 1px #353535;
}

@media only screen and (max-width: 960px) {
    .navigation {
      display: none;
    }
}
@media only screen and (max-width: 768px) {
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .social-top-container {
        height: 60px;
        margin-bottom: 30px;
    }
    .social-top-icons {
        text-align: center;
    }
    .whiteBox {
        margin-bottom: 10px;
    }
}